<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">
    <aop:aspectj-autoproxy />
<!--    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut
                id="performance"
                expression="execution(** concert.Performance.perform(..))" />
            <aop:before
                pointcut-ref="performance"
                method="silenceCellPhones"/>
            <aop:before
                pointcut-ref="performance"
                method="takeSeats"/>
            <aop:after-returning
                pointcut-ref="performance"
                method="applause"/>
            <aop:after-throwing
                pointcut-ref="performance"
                method="demandRefund"/>
            <aop:around
                pointcut-ref="performance"
                method="watchPerformance"/>
        </aop:aspect>
    </aop:config>-->
    
    <bean id="trackCounter"
          class="com.lyn0801.xml.TrackCounter" />
    <bean id="cd"
          class="com.lyn0801.xml.BlankDisc">
        <property name="title"
                  value="Sgt. Pepper's Lonely Hearts Club Band" />
        <property name="artist" value="The Beatles" />
        <property name="tracks">
            <list>
                <value>Sgt. Pepper's Lonely Hearts Club Band</value>
                <value>With a Little Help from My Friends</value>
                <value>Lucy in the Sky with Diamonds</value>
                <value>Getting Better</value>
                <value>Fixing a Hole</value>
                <!-- ...other tracks omitted for brevity... -->
            </list>
        </property>
    </bean>
    <aop:config>
        <aop:aspect ref="trackCounter">
            <aop:pointcut id="trackPlayed" 
                          expression="execution(* com.lyn0801.xml.CompactDisc.playTrack(int)) and args(trackNumber)" />
            <aop:before
                pointcut-ref="trackPlayed"
                method="countTrack"/>
        </aop:aspect>
    </aop:config>
</beans>
